/* general */
* {
    margin: 0;
    padding: 0;
}
.clearRight {
    clear: right;
}
.accompList {
    margin: 0 0 0 2rem;
}
header {
    /*background-color: #ddd;*/
    text-align: center;
    padding: 8px;
}
main {
    grid-template-columns: 60% 40%;
    text-align: left;
    background-color: #ddd;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 1rem 4rem 1rem 4rem;

    /*display: grid;
    grid-template-columns: 60% 40%;*/
}
footer {
    background-color: #aaa;
    padding: 8px;
    font-size: 0.75rem;
}
h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}
p {
    text-indent: 3em;
}

/* nav and ul */
nav {
    background-color: #aaa;
    padding: 4px;
}
.navList {
    list-style-type: none;
    display: inline-flex;
}
.navList a {
    text-align: center;
    padding: 8px;
}
.navList a:active, .navList a:hover {
    background-color: #ddd;
    box-shadow: 2px 2px #0003;
}
.downloadLink {
    font-style: italic;
    font-size: 0.75em;
}

/* displaying code */
.code_block {
    background-color: #445;
    color: #fee;
    border-radius: 4px;
    padding: 0.2em 0 0.4em 0.4em;
    font-family: Consolas, "courier new";
    font-size: 80%;

    grid-column: 2;
}

/* list with floating image */
ol {
    margin: 0 0 0 1.5rem;
}
ol li {
    margin: auto;
}
img {
    margin-left: 2rem;
    border: 2px outset #aaaaaa;
    float: right;
}

/* citations */
.citation {
    font-size: 0.8rem;
}
#citebox {
    margin-bottom: 0.8em;
}

/* body and div for properly setting up background */
body {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    background: url("assets/strawberry.png") repeat;
    line-height: 1.5;
    background-color: #ff7f7f;
    color: #2b0000;
}
#wrapper {
    text-align: center;
    max-width: 800px;
    margin: 8px auto 8px auto;
    background: #fff;
    padding: 8px;

    border: 2px outset #747474;
    box-shadow: 6px 6px #0003;
}

/*
    pushes everything into a singular column
    reduces padding around main tag
*/
@media (max-width:800px) {
    main {
        padding: 1rem 1rem 1rem 1rem;
    }
    .code_block {
        width:100%;
    }
}