/* general */
* {
    margin: 0;
    padding: 0;
}
.clearRight {
    clear: right;
}
.accompList {
    margin: 0 0 0 2rem;
}
header {
    background-color: #ddd;
    text-align: center;
    padding: 8px;
}
main {
    text-align: left;
    background-color: #ddd;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 1rem;
}
footer {
    background-color: #aaa;
    padding: 8px;
    font-size: 0.75rem;
}

/* nav and ul */
nav {
    background-color: #aaa;
    padding: 4px;
}
.navList {
    list-style-type: none;
    display: inline-flex;
}
.navList a {
    text-align: center;
    padding: 8px;
}
.navList a:active, .navList a:hover {
    background-color: #ddd;
    box-shadow: 2px 2px #0003;
}

/* list with floating image */
ol {
    margin: 0 0 0 1.5rem;
}
ol li {
    margin: auto;
}
img {
    margin-left: 2rem;
    border: 2px outset #aaaaaa;
    float: right;
}

/* body and div for properly setting up background */
body {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    background: url("assets/bg.png") repeat;
    line-height: 1.5;
    background-color: #008282;
    color: #002b2b;
}
body div {
    text-align: center;
    max-width: 800px;
    margin: 8px auto 8px auto;
    background: #fff;
    padding: 8px;

    border: 2px outset #747474;
    box-shadow: 6px 6px #0003;
}